<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" 
        "file:///home/iwasz/program/projects/tiliae/base/container/tiliae-container-1.0.dtd">

<!--Ogólny schemat nazw : Ctr - kontroler, Wgt - widget, Mdl - model.-->
<beans>

    <!--Konfiguracja-->
    <bean id="cfg" class="BajkaConfig" init-method="init" singleton="true">
        <property name="fullScreen"><value type="bool">false</value></property>
        <property name="resX"><value type="int">640</value></property>
        <property name="resY"><value type="int">480</value></property>
        <property name="windowCaption" value="Bajka DEMO"/>
    </bean>



    <!--Obiekt app, czyli aplikacja -->
    <bean id="app" class="PlatformerApp" singleton="true">
        <property name="config" ref="cfg" />
<!--        <property name="rootController" ref="screen"/>-->

        <!--Dispatcher-y eventów. Generują eventy. Przekształcają eventy -->
        <!--SDL (lub innej biblioteki) na wewnętrzne eventy.-->
        <property name="dispatchers">
            <list class="DispatcherList">
                <bean class="TimerDispatcher" singleton="true">
                    <property name="observers">
                        <list class="ObserverVector">
<!--                            <ref bean="screen" />-->
<!--                            <ref bean="ruchJednostajny"/>-->
<!--                            <ref bean="scrollController" />-->
                        </list>
                    </property>
                    <property name="tickInterval"><value type="int">20</value></property>
                </bean>

                <bean class="EventDispatcher" singleton="true" init-method="init">
                    <property name="observers">
                        <list class="ObserverVector">
<!--                            <ref bean="screen" />-->
                        </list>
                    </property>
                    <property name="config" ref="cfg" />
                </bean>
            </list>
        </property>
    </bean>
      
</beans>
